@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/* following is the css defined for each tag i.e. body and header */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Libre Franklin", sans-serif; */
  font-family: "Lora", serif;
  color: #00376b;
  background-color: #084b8a;
  font-size: 1.1rem;
  
}



/* HEADER SECTION */
header {
  background-color: #00274c;
  margin-top: 300px;
  /*display: flex;*/
}

header h1 {
  content: "";
  /* border-bottom: 1px solid #e17000; */
  width: 100%;
  height: 100px;
  /* position: relative; */
  text-align: center;
  
}

header a {
  text-decoration: none;
  font-size: 70px;
  color: #ffff;
}

header a:hover,
header a:focus {
  color: #e17000;
}

/* BODY SECTION */
body {
  background-color: #ffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e17000;
}
/* from here onward some classes are defined to make data look according to requirements*/
.adj {
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 50px;
	
}
.frw {
	
	margin-left:20px;
	
	
}


.textcolor {
	
	color: #00376b;
}

.backcolor {
	
	background-color: #00376b;
	color: #fff;
}

/* below class is used to define circles to show data after submit button is clicked like weather data */
.circle {
  width: 200px;
  height: 200px;
  line-height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: #00274c;
}

button {
	
	width:150px;
}

.divcolor {
	background-color: #ADD8E6;
	
}